<h1>Showing selected Article</h1>
<p>
    Title: <%= @article.title %>
</p>
<p>
    Description: <%= @article.description %>
</p>
<%= link_to "Edit this article", edit_article_path(@article)%> |
<%= link_to "Go back to listing of articles", articles_path%>