$navbar-default-bg: black;

@import "bootstrap-sprockets";
@import "bootstrap";

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    background-color: white;
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

#logo {

    float: left;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#logo:hover {

    color: #fff;
    text-decoration: none;
}
.btn1{
    color: white;
}
.center {

    text-align: center;
}

.jumbotron {

    background-image: asset-url('Dmxrxdn.png');

    background-size: cover;

    height: 550px;
}

.article-actions {

    border-top: 1px solid #eaeaea;
    padding-top: 5px;
    
}
.description {
    
    margin-top: 0;
    
}
.jumbotron h1 {

    color: #fff;

    text-align: center;

    margin-bottom: 30px;

    letter-spacing: -1px;

    font-weight: bold;

}

.btn-xlarge {

    font-size: 1.7em;

    background-color: black;
}

footer {

    margin-top: 45px;

    padding-top: 5px;

    border-top: 1px solid #eaeaea;

    color: rgb(86, 178, 231);
}

footer a:hover {

    color: rgb(86, 178, 231);

}

footer small {

    float: left;

}

footer ul {

    float: right;
    list-style: none;

}

footer ul li {

    float: left;

    margin-left: 15px;
}
.article-title {
    
    font-weight: bold;
    
    font-size: 1.7em;
    
}
    
.article-body {
    
    border-top: 1px solid #eaeaea;
    
    padding-top: 15px;
    
    padding-bottom: 15px;
    
}
.listing {

    list-style: none;
    padding-left: 0;
        
}
.badge{
    background-color: #CEF6F5;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}
.input_checkbox input {
    width: auto !important;
}
    
.article-meta-details {

    border-top: 1px solid #eaeaea;
    margin-top: 15px;
        
}
