<div class="container">

<footer class="footer">

<small>

Copyright <a id ="link" href="enter in a link here">The Platform for Aspiring Writers</a>

by <a href="enter in a link here">Akash Chourasia</a>

</small>

<nav>

<ul>

<li><%= link_to "About", about_path %></li>

</ul>

</nav>

</footer>

</div>